.gameboy-container {
  /* Original: 84,6 (w) X  82 (h) mm */
  width: calc(500px * 1.16); /* 580px */
  height: calc(1000px * 1.095); /* 1095px */

  position: relative;

  background-color: transparent;
}

.gameboy-container .top-half {
  height: calc((1000px * 1.095) / 2 - 40px); /* 508px */

  position: relative;

  /* background-color: var(--gameboy-onyx);
  background: linear-gradient(to right, rgb(163, 165, 163) 0%, rgb(81, 92, 94) 2%, rgb(53, 66, 73) 98%, rgb(145, 147, 149) 100%); */

  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  box-shadow: inset 0 7px 4px -2px rgb(163, 165, 163), inset 10px 0 4px -2px rgb(163, 165, 163);
}

.gameboy-container .top-half::before {
  content: "";

  width: 100%;
  height: 100%;

  display: block;
  position: absolute;

  pointer-events: none;

  opacity: 0.09;

  background-image: url("/img/background.png");
}

.gameboy-container .top-half .screen-dot {
  width: 30px;
  height: 30px;

  position: absolute;
  
  background-color: rgb(73, 84, 92);

  border-radius: 50%;
}

.gameboy-container .top-half .screen-dot::after {
  content: "";

  width: 100%;
  height: 100%;

  display: block;
  position: absolute;

  pointer-events: none;

  opacity: 0.09;

  background-image: url("/img/background.png");
}

.gameboy-container .top-half .screen-dot:nth-child(1) {
  width: 35px;
  height: 35px;

  top: 12px;
  left: 31px;

  /* box-shadow: 0 0 7px 0 rgb(255, 255, 255, 30%); */
}

.gameboy-container .top-half .screen-dot:nth-child(2) {
  width: 35px;
  height: 35px;

  top: 12px;
  right: 31px;
}

.gameboy-container .top-half .screen-dot:nth-child(3) {
  bottom: 15px;
  left: 32px;
}

.gameboy-container .top-half .screen-dot:nth-child(4) {
  bottom: 15px;
  right: 32px;
}

.gameboy-container .top-half .screen-container {
  margin: auto;

  position: absolute;
  top: 65px;
  left: 45px;
  bottom: 70px;
  right: 35px;

  background-color: black;
  background: linear-gradient(to right, rgb(39, 50, 50) 0%, rgb(53, 63, 63) 100%);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.gameboy-container .top-half .screen-container .screen-headline {
  margin: auto;

  color: white;
  font-size: 1.25rem;

  position: absolute;
  left: 0;
  bottom: 1rem;
  right: 0;
}

.gameboy-container .top-half .screen-container .screen {
  margin: auto;

  position: absolute;
  top: 25px;
  left: 30px;
  bottom: 50px;
  right: 30px;
  
  background-color: white;

  border: 3px solid white;
}

.gameboy-container .bottom-half {
  height: calc((1000px * 1.095) / 2 + 40px); /* 548px */

  position: relative;

  border: 3px solid orange;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.gameboy-container .bottom-half .controlls-container {
  margin: auto;

  position: absolute;
  top: 75px;
  left: 0;
  bottom: 0;
  right: 0;

  border: 3px solid aqua;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.gameboy-container .bottom-half .controlls-container .brightness {
  width: 50px;
  height: 50px;

  margin: auto;

  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  
  border: 3px solid blue;
  border-radius: 100%;
}

.gameboy-container .bottom-half .controlls-container .cross {
  width: 200px;
  height: 200px;

  margin: auto;

  position: absolute;
  top: 85px;
  left: 40px;
  
  border: 3px solid blue;
  border-radius: 100%;
}

.gameboy-container .bottom-half .controlls-container .buttons-a-b {
  width: 200px;
  height: 110px;

  margin: auto;

  position: absolute;
  top: 130px;
  right: 43px;
  
  transform: rotate(-17deg);

  border: 3px solid blue;
  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.gameboy-container .bottom-half .controlls-container .buttons-start-select {
  width: 175px;
  height: 85px;

  margin: auto;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;

  border: 3px solid blue;
  border-radius: 35%;
}