.button {
  position: relative;

  color: black;

  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
  text-align: center;

  padding: .5em;

  cursor: pointer;

  background-color: transparent;
  border: none;
}

.button.decision {
  font-size: .75em;
  font-weight: 300;

  padding: .25em;
}

.button::before {
  content: '>';
  
  margin: auto;
  position: absolute;
  top: .5em;
  bottom: .5em;
  left: -1em;

  opacity: 0;
  transition: opacity ease-out 250ms;
}

.button.decision::before {
  top: .75em;
  bottom: .75em;
  left: .75em;
}

.button:hover::before {
  opacity: 1;
}