.menuContainer {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.menuContainer .menuText {
  font-size: 3rem;
}

.menuContainer .buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 70ch;
  max-width: 40%;

  margin-top: 2rem;
}

.menuContainer .menuButton {
  margin-bottom: 1rem;
}
