.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuContainer .menuText {
  font-size: xx-large;
}

.menuContainer .buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-top: 10%;
}

.menuContainer .menuButton {
  margin-bottom: 10px;
}
