.decisionButton {
  position: relative;

  padding: 0;
  margin: 5px 0 5px 20px;

  color: var(--options-button-text-colour);
  text-align: left;
  font-size: .9rem;

  background-color: transparent;
}

.decisionButton::before {
  content: '';

  border: 8px solid;
	border-color: 
    transparent
		transparent
		transparent
		black;

  position: absolute;
  top: 50%;
  left: -12.5px;
  transform: translateY(-50%);

  opacity: 0;
  transition: opacity ease-out 250ms;
}

.decisionButton:hover::before {
  opacity: 1;
}