.game-container {
  min-height: 100%;

  display: grid;
}

.pokemon-section {
  background-image: url('/img/battle_backgrounds.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'defending-info defending-sprite'
    '.............. ..............'
    'attacking-sprite attacking-info';

  image-rendering: pixelated;
}

.option-section {
  position: relative;

  display: grid;

  grid-template-columns: repeat(2, 1fr);
}

.option-section .option-text-area,
.option-section .option-buttons {
  grid-row-start: 1;
}

.option-section .option-text-area {
  grid-column: 1 / span 2;

  background-color: var(--options-text-colour-background);

  border: 2px solid var(--options-text-area-seperate);
  border-radius: 5px;

  box-shadow: 0px 0px 0px 4px var(--options-text-area-background);
}

.option-section .option-text-area .option-text {
  padding: .6em .3em;

  color: var(--options-text-colour);
  text-align: left;
}

.option-section .option-buttons {
  grid-column: 2;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  border-left: 3px solid var(--options-text-area-border);

  box-shadow: inset 0px 0px 0px 4px var(--options-button-shadow-colour);

  background-color: var(--options-button-background-colour);
}
