.pokemon-sprite-container.defending {
  grid-area: defending-sprite;
}
.pokemon-info-container.defending {
  grid-area: defending-info;
}

.pokemon-sprite-container.attacking {
  grid-area: attacking-sprite;
}
.pokemon-info-container.attacking {
  grid-area: attacking-info;
}

.pokemon-sprite-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.pokemon-info-container {
  padding: .3em;
  
  display: flex;
  flex-direction: column;

  color: black;
  background-color: var(--info-background-colour);

  border: 3px solid var(--info-border-colour);
  border-radius: 10px 5px;
}

.pokemon-info-container.attacking {
  box-shadow: 7px 7px var(--info-shadow-colour);
}

.pokemon-info-container.defending {
  box-shadow: -7px 7px var(--info-shadow-colour);
}

.pokemon-info-container > span {
  align-self: flex-start;

  font-size: 1em;
  font-weight: 400;
}

.type-pills {
  align-self: flex-end;

  display: flex;
  gap: .25em;
  justify-content: flex-end;
}

.type-pill {
  color: white;

  width: 15ch;
  max-width: 60px;

  font-size: .75em;
  text-align: center;

  border: 1px solid black;
  border-radius: 20px;
}

.type-pill-normal {
  background-color: var(--pokemon-type-normal);
}

.type-pill-fire {
  background-color: var(--pokemon-type-fire);
}

.type-pill-water {
  background-color: var(--pokemon-type-water);
}

.type-pill-electric {
  background-color: var(--pokemon-type-electric);
}

.type-pill-grass {
  background-color: var(--pokemon-type-grass);
}

.type-pill-ice {
  background-color: var(--pokemon-type-ice);
}

.type-pill-fighting {
  background-color: var(--pokemon-type-fighting);
}

.type-pill-poison {
  background-color: var(--pokemon-type-poison);
}

.type-pill-ground {
  background-color: var(--pokemon-type-ground);
}

.type-pill-flying {
  background-color: var(--pokemon-type-flying);
}

.type-pill-psychic {
  background-color: var(--pokemon-type-psychic);
}

.type-pill-bug {
  background-color: var(--pokemon-type-bug);
}

.type-pill-rock {
  background-color: var(--pokemon-type-rock);
}

.type-pill-ghost {
  background-color: var(--pokemon-type-ghost);
}

.type-pill-dragon {
  background-color: var(--pokemon-type-dragon);
}

.type-pill-dark {
  background-color: var(--pokemon-type-dark);
}

.type-pill-steel {
  background-color: var(--pokemon-type-steel);
}

.type-pill-fairy {
  background-color: var(--pokemon-type-fairy);
}