.pokemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-container.defending {
  flex-direction: row-reverse;
}

.pokemon-container .image-section {
  width: 50%;
}

.pokemon-container .info-section {
  min-width: 40%;
  padding: 6px;
  position: relative;

  align-self: flex-start;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  color: black;
  background-color: var(--info-background-colour);

  border: 3px solid var(--info-border-colour);
  border-radius: 10px 5px;
}

.pokemon-container.attacking .info-section {
  box-shadow: 10px 10px var(--info-shadow-colour);
}

.pokemon-container.attacking .info-section::before {
  content: "";

  z-index: -1;

  position: absolute;
  bottom: -13px;
  left: -25px;

  border-width: 40px 40px 0 0;
  border-style: solid;
  border-color: transparent var(--info-shadow-colour);
}

.pokemon-container.defending .info-section {
  box-shadow: -10px 10px var(--info-shadow-colour);
}

.pokemon-container.defending .info-section::before {
  content: "";

  z-index: -1;

  position: absolute;
  bottom: -13px;
  right: -25px;

  border-width: 40px 0 0 40px;
  border-style: solid;
  border-color: transparent var(--info-shadow-colour);
}

.pokemon-container .info-section > span {
  align-self: flex-start;

  font-size: .8em;
  font-weight: 400;
}

.type-pills {
  align-self: flex-end;

  display: flex;
  justify-content: flex-end;
}

.type-pill {
  color: white;

  min-width: 60px;

  font-size: .7em;
  text-align: center;

  border: 1px solid black;
  border-radius: 20px;
}

.type-pill-normal {
  background-color: var(--pokemon-type-normal);
}

.type-pill-fire {
  background-color: var(--pokemon-type-fire);
}

.type-pill-water {
  background-color: var(--pokemon-type-water);
}

.type-pill-electric {
  background-color: var(--pokemon-type-electric);
}

.type-pill-grass {
  background-color: var(--pokemon-type-grass);
}

.type-pill-ice {
  background-color: var(--pokemon-type-ice);
}

.type-pill-fighting {
  background-color: var(--pokemon-type-fighting);
}

.type-pill-poison {
  background-color: var(--pokemon-type-poison);
}

.type-pill-ground {
  background-color: var(--pokemon-type-ground);
}

.type-pill-flying {
  background-color: var(--pokemon-type-flying);
}

.type-pill-psychic {
  background-color: var(--pokemon-type-psychic);
}

.type-pill-bug {
  background-color: var(--pokemon-type-bug);
}

.type-pill-rock {
  background-color: var(--pokemon-type-rock);
}

.type-pill-ghost {
  background-color: var(--pokemon-type-ghost);
}

.type-pill-dragon {
  background-color: var(--pokemon-type-dragon);
}

.type-pill-dark {
  background-color: var(--pokemon-type-dark);
}

.type-pill-steel {
  background-color: var(--pokemon-type-steel);
}

.type-pill-fairy {
  background-color: var(--pokemon-type-fairy);
}