@font-face {
  font-family: 'Pokemon';
    src: url('./fonts/PokemonGb-RAeo.ttf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/PokemonGb-RAeo.ttf') format('woff2'),             /* Super Modern Browsers */
         url('./fonts/PokemonGb-RAeo.ttf') format('woff'),              /* Pretty Modern Browsers */
         url('./fonts/PokemonGb-RAeo.ttf') format('truetype'),          /* Safari, Android, iOS */
         url('./fonts/PokemonGb-RAeo.ttf') format('svg');               /* Legacy iOS */
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: Pokemon, serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --info-background-colour: rgb(248, 246, 216);
  --info-border-colour: rgb(32, 56, 0);
  --info-shadow-colour: rgb(80, 104, 96);

  --options-text-area-border: rgb(40, 48, 48);
  --options-text-area-background: rgb(200, 168, 72);
  --options-text-area-seperate: rgb(224, 216, 224);
  --options-text-colour-background: rgb(40, 80, 104);
  --options-text-colour: rgb(248, 248, 248);

  --options-button-text-colour: rgb(72, 72, 72);
  --options-button-shadow-colour: rgb(112, 104, 128);
  --options-button-background-colour: rgb(248, 248, 248);

  --pokemon-type-normal: #A8A77A;
	--pokemon-type-fire: #EE8130;
	--pokemon-type-water: #6390F0;
	--pokemon-type-electric: #F7D02C;
	--pokemon-type-grass: #7AC74C;
	--pokemon-type-ice: #96D9D6;
	--pokemon-type-fighting: #C22E28;
	--pokemon-type-poison: #A33EA1;
	--pokemon-type-ground: #E2BF65;
	--pokemon-type-flying: #A98FF3;
	--pokemon-type-psychic: #F95587;
	--pokemon-type-bug: #A6B91A;
	--pokemon-type-rock: #B6A136;
	--pokemon-type-ghost: #735797;
	--pokemon-type-dragon: #6F35FC;
	--pokemon-type-dark: #705746;
	--pokemon-type-steel: #B7B7CE;
	--pokemon-type-fairy: #D685AD;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
